
<h1 class="text-primary">亲亲的笨蛋，嫁给我吧</h1>
<div >
    <a href="@Url.Action("Yes")" class="btn btn-primary">我愿意</a>
    <a href="@Url.Action("No")" class="btn btn-info" style="margin-left:10px;">滚</a>
</div>
