
<h1 class="text-primary">真的吗？我还是有点不敢相信呢！请再说一遍吧...</h1>
<div style="margin-top:20px;">
    <a href="@Url.Action("ConfirmYes")" class="btn btn-primary">我愿意</a>
    <a href="@Url.Action("Fool")" class="btn btn-info" style="margin-left:10px;">逗你玩</a>
</div>